/* common */

.fix-width {
    min-width: 200px;
    max-width: 200px;
}

.fix-height {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.opaco {
    opacity: 50%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.maiuscolo {
    text-transform: uppercase;
}

.white {
    color: white;
}

/* menu a sinistra */

.menu {
    height: 100%;
    background-color: #000000;
    color: white;
    padding:15px 15px 0;
    line-height: 30px;
    padding-bottom: 80px;
}

.logo {
    height: 80px;
    
}


.ricerca {
    margin-bottom: 20px;
    font-size: 12px;
    
}

.ricerca img {
    width: 25px;
    vertical-align: middle;
}

.ricerca span {
    vertical-align: middle;
}

/* playlist */

.playlist {
    height: 60%;
}

.flow {
    overflow-y: auto;
    height: 50%;
}

.playlist h3 {
    font-size: 14px;
}


.playlist span {
    font-size: 12px;
}

.aggiungi span {
    font-size: 14px;
    
}

#aggiungi {
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 0 8px;
}

/* finale menu */
.p-menu {
    
    width: 100%;
    margin-top: auto;
    font-size: 15px;
}

.p-menu img.opaco {
    width: 15px;
    vertical-align: middle;
}

.p-menu .opaco span {
    font-size: 14px;
    vertical-align: middle;
}

.p-menu hr {
    margin-bottom: 15px;
}

#profilo {
    width: 20px;
    background-color: #808080;
    border-radius: 50%;
}


/* corpo pagina */

.box-content {
    padding-top: 80px;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 80px);
}

main header {
 height: 80px;
 background-color: rgba(0, 0, 0, 0.5);
 position: fixed;
 width: calc(100% - 200px) ;
 z-index: 5000;
 right: 0;
 top: 0;
}

.bottone {
    position: absolute;
    right: 25px;
    top: 25px;
   
}

.bottone a {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
}


.content {
    background-color: #141922;
    min-height: calc(100vh - 80px);
    padding-left: 20px;
   
}

/* menu del corpo */
.menu-brani {
    height: 50px;
    margin: 0 auto;
    width: 100%;
}

.menu-brani li {
    margin: 0 10px;
    
}

.menu-brani ul {
    justify-content: center;
    max-width: 600px;
    align-items: center;
    flex-wrap: wrap;
    
}

.menu-brani a {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

/* corpo stesso */

#recent {
    color: white;
    margin-top: 20px;
}

.immagini {
    max-width: 200px;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-right: 5%;
    
}

.immagini img {
    width: 100%;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}

.box-footer {
    min-height: 80px;
    background-color: #282828;
    
}



